/* Layout */
.demo-layout-transparent {
  background: url('images/tela01.jpg') center / cover;
  /*height: 50%;*/
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

/* Main */
.demo-card-wide.mdl-card {
  width: 60%;
  margin: 0 auto;
}
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 20%;
 }

 .demo-card-wide > .mdl-card__supporting-text {
  color: #000;
  height: 80%;
 }
.demo-card-wide > .mdl-card__menu {
  color: #000;
}